# SauceDemo (https://www.saucedemo.com)
SAUCE_USERNAME=
SAUCE_PASSWORD=

# Practice Software Testing API (https://practicesoftwaretesting.com)
PST_API_URL=https://api.practicesoftwaretesting.com
PST_API_USERNAME=
PST_API_PASSWORD=
